.dashboard-page h1 {
  margin-bottom: 30px;
}

.stats-grid {
  display: grid;
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(250px, 1fr)
    );
  gap: 10px;
}

.stat-card {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 25px
    rgba(0, 0, 0, 0.15);
}

.stat-card h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #a855f7;
}

.stat-card p {
  font-size: 18px;
  color: #cbd5e1;
}