.user-details-page {
  padding: 30px;
}

.back-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.profile-card {
  display: flex;
  gap: 20px;
  align-items: center;

  background: #1b1f38;

  padding: 25px;

  border-radius: 20px;

  margin-bottom: 25px;
}

.avatar {
  width: 80px;
  height: 80px;

  border-radius: 50%;

  background: #7b2ff7;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: bold;
}

.section {
  margin-bottom: 25px;
}

.chips {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.chip {
  background: #7b2ff7;

  padding: 8px 15px;

  border-radius: 20px;
}

.card-item {
  background: #1b1f38;

  padding: 15px;

  border-radius: 12px;

  margin-bottom: 10px;
}